.Itinerary {
    height: 100vh;
    width: 100vw;
    background-color: #453229;
}

.events-header {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100px;
}

.events {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.event {
    display: flex;
    align-items: center;
    width: 700px;
    height: 150px;
    background-color: #ffffffcd;
    margin: 0 auto;
    border-radius: 15px;
    color: #453229cd;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition-duration: .2s;
}

.event:hover {
    box-shadow: 4px 4px 4px #00000063;
    transform: scale(1.025);
}

.event *:not(.add) {
    margin: 0 40px 0 0;
}

.event-time {
    background-color: #d1ae75e1;
    height: 80px;
    width: 150px;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    font-weight: 800;
}

Itinerary.description {
    opacity: 0.8;
}

.event .info {
    margin: 0;
}

.name, Itinerary.description {
    width: 100%;
    margin: 0;
}

.add {
    width: 200px;
    font-size: 0.9rem;
    opacity: 0.7;
    transition-duration: .2s;
    margin-bottom: 30px;
    text-decoration: none;
    color: #453229cd;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.add:hover, .add:focus {
    background-color: #453229;
    color: #ffffffcd;
}

@media (max-width: 800px) {
    .events {
        top: 25%;
    }

    .event {
        width: 500px;
    }

    .event *:not(.add) {
        margin-right: 25px;
    }

    .event-time {
        width: 75px;
        height: 80px;
        line-height: 70px;
        font-size: 1rem;
        padding: 5px;
    }

    .info {
        width: 400px;
    }

    .name {
        font-size: 1.2rem;
    }

    Itinerary.description {
        font-size: 0.9rem;
    }
}

@media (max-width: 550px) {
    .events {
        transform: translateX(-50%) scale(0.8);
        width: 150vw;
        top: 20%;
    }
}

@media (max-width: 430px) {
    .events {
        transform: translateX(-50%) scale(0.7);
        top: 15%;
    }
}